/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Anton&family=Borel&display=swap');
/* Layout */

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
}
.mainContainer1, .dataShow {
    display: flex;
    justify-content: space-between;
}
.dataComponents {
    display: flex;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.rightData {
    width: 400px;
    font-family: 'Borel', cursive;
}
#sky {
    font-size: 42px;
}
#city {
    font-size: 24px;
}
#temperature {
    font-size: 52px;
}
#icon {
    font-size: 80px;
}